In [ ]:
## load the Csv file from local computer.
from google.colab import files
file = files.upload()
file

## Question1. 
Load the dataset into the program using the pandas module and perform the following
operations.

In [6]:
import pandas as pd # Import the pandas library
import numpy as np # Impoort the Numpy Library.

In [7]:
car = pd.read_csv("cars.csv")

# a. Print the first five rows of the dataset.
car.head()

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [9]:
# b. Print the last five rows of the dataset.
car.tail()

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [41]:
#c. Print the column names from the dataset.
car.columns
print((car.columns))

Index(['S.No', 'model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [42]:
#d. Print the shape of the dataset.
car.shape

(32, 13)

In [43]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   S.No    32 non-null     int64
 1   model   32 non-null     object
 2   mpg     32 non-null     float64
 3   cyl     32 non-null     int64
 4   disp    32 non-null     float64
 5   hp      32 non-null     int64
 6   drat    32 non-null     float64
 7   wt      32 non-null     float64
 8   qsec    29 non-null     float64
 9   vs      32 non-null     int64
 10  am      32 non-null     int64
 11  gear    32 non-null     int64
 12  carb    32 non-null     int64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.4+ KB

In [44]:
# Find the number of nan value.
car.isna().sum()

S.No     0
model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     3
vs       0
am       0
gear     0
carb     0
dtype: int64

In [45]:
#Print the count of distinct values in each of the columns in the data.
n = car.nunique(axis=0)
print("Number of unique data in dataFrame is: ",n)

Number of unique data in dataFrame is:  S.No     32
model    32
mpg      25
cyl       3
disp     27
hp       22
drat     22
wt       29
qsec     28
vs        2
am        2
gear      3
carb      6
dtype: int64

In [46]:
# Check the dimensions and size of the data.
print("The dimensions of the dataframe is: ",car.ndim)

print("The Size of the data frame is: ", car.size)

The dimensions of the dataframe is:  2
The Size of the data frame is:  416

In [49]:
# Check for duplicate entries in each column.
#duplicate = car.duplicated().sum()
duplicate = car.duplicated().value_counts()

print(duplicate)

False    32
dtype: int64